//
// Header classes
// --------------------------------------------------


header{
	position: relative;
	z-index: 1;
}

header .navbar-nav > li:hover { background-color: @primary; }

header .nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus{
	background-color: darken(@primary, 10%);
}

header.navbar-nav > li > .dropdown-menu {
	background-color: darken(@primary, 15%);
}

header .navbar-nav > li > a {
	color: @light;
	&:hover{ color: @dark;}
}

a.js-sub-menu-opener:hover,
a.js-sub-menu-opener:focus,{
	padding-left: 20px ;
	background-color: darken(@primary, 10%);
	color: @dark;
}

.mobile-nav{
	background: @primary;
	position: absolute; top: 0; left:-110%;
	.transition ( all 0.3s ease );
}

.mobile-nav.opened{ left: 0; }

//Submenu

.sub-menu{
	max-height: 0;
	overflow: hidden;
	.transition(all 0.3s ease);
}


.sub-menu.opened{
	max-height: 10000px;
}

//dropdown

.dropdown--hover {
	position: relative;
	display: inline-block;
	span {
		text-transform: uppercase;
	}
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: @dark;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	a {
		color: @light;
		padding: 12px 16px;
		display: block;
		cursor: pointer;
		&:hover {
			background-color: @primary;
			color: @dark;
		}
	}
}

.dropdown--hover:hover .dropdown-content { display: block; }







