//
// Images
// --------------------------------------------------
.bg-image{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.img-banner1{
	background-image: url('images/mujer.png');
	height: 300px;
}

.img-banner2{
	background-image: url('images/hombre.png');
	height: 300px;
}

.img-product1{ 
	background-image: url('images/caslon.png');
	height: 200px;
}
.img-product1{ 
	background-image: url('images/times.png');
	height: 200px;
}

.img-tag-red { 
    background-image: url('images/etiqueta-roja.png');
	height: 20px;
	padding: 0 20px;
}
.img-tag-blue { 
    background-image: url('images/etiqueta-azul.png');
    width: 80px; height: 20px;
}