//
// Shapes css
// --------------------------------------------------

.shape-tag{
    background-color: @primary;
    z-index: 10;
    padding: 10px;
    font-size: 15px;
    transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    text-align: center;
    position: absolute;
    right: -15%;
    top: 10%;
}

.shape-tag-red {
    width: 80px;
    height: 0px;
    border-left: 8px solid transparent;
    border-top: 10px solid @tertiary;
    border-bottom: 10px solid @tertiary;
}

.shape-tag-blue {
    width: 80px;
    height: 0px;
    border-left: 8px solid transparent;
    border-top: 10px solid @secondary;
    border-bottom: 10px solid @secondary;
}